.normal {
  height: 42px; padding: 0 10px; margin-bottom: 15px; display: flex; align-items: center; position: relative;
  background: #fff; border: solid 1px #dadada; border-radius: 5px;
  pointer-events: auto; cursor: pointer;
}
