@import 'styles/variables.scss';

.normal {
  display: flex; align-items: center;
}

.current {
  position: relative;
  pointer-events: auto;

  &Button {
    color: #435cc8; font-size: 15px; font-family: $r; font-weight: 500;
    display: flex; align-items: center; height: 44px; padding: 0 18px;
    background: #fff; border: solid 1px #435cc8; border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: #435cc8;
    }
  }

  &Icon {
    font-size: 18px;
    position: relative; top: -2px;
    pointer-events: none;
  }

  &Date {
    margin-left: 15px;
    pointer-events: none;
  }
}
